{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.mjs", "*.cjs"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "printWidth": 80
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    },
    {
      "files": ["*.prisma"],
      "options": {
        "parser": "prisma-parse"
      }
    }
  ]
}
